<html>
  <head><title>TP1 PLS</title></head>
</html>
	<body>
		<script>
			function resetValue() {
				document.getElementById("form").value=""; 
			}
		</script>
		<div style='text-align:center;color:black solid 10px;font-size:25px'><p>Notre premier TP de JS avancée</p></div>
		<div style='text-align:center;'><p>Matières PLS</p></div>
		<div style='text-align:center'>
			<form action='/sucess/<%= user.id %>' id="form" method='post' name='form1'>
				Matière : <input type= 'text' name='name' value='<%= user.name %>'>&nbsp;&nbsp;
				<span style='<%= color %>'><%= smsModif %></span>
				<br/>
				<br/>
				<INPUT type='reset' value='réinitialiser'>
				<br/>
				<br/>
				<% if(!edit) {%>
					<INPUT type='submit'  value='Ajouter une matière'>
				<% }else {%>
					<INPUT type='submit'  value='Enrégistrer les modifications'>
				<% } %>
				<br/>
				<br/>
				<% for(var i=0; i<users.length; i++) {%>
					<span style="color:blue"><%= users[i].name %></span>&nbsp;&nbsp;
					<a href='/detail/<%= users[i].name %>/<%= users[i].id %>'>éditer</a>&nbsp;&nbsp;
					<a href='/supression/<%= users[i].id %>'>supprimer</a>&nbsp;&nbsp;
					<br/>
				<% } %>
			</form>
		</div>
	</body>
</html>